@font-face {
  font-family: "Helvetica Neue Cyr Roman";
  src: url("./assets/fonts/HelveticaNeueCyr-Roman.eot");
  src: url("./assets/fonts/HelveticaNeueCyr-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue Cyr Medium";
  src: url("./assets/fonts/HelveticaNeueCyr-Medium.eot");
  src: url("./assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
    url("./assets/fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eee;
}

.App {
  font-family: "Helvetica Neue Cyr Roman", Liberation Sans, Arial, sans-serif;
  overflow: hidden;
}

.index {
  padding: 0px 80px 50px 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #2e2e2e;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: aliceblue;
  align-items: center;
  max-height: 60px;
  margin-bottom: 48px;
  padding: 0px 110px 0px 150px;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  text-decoration: none;
  list-style: none; /*removes dots*/
}

.content {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

.wrapper {
  padding: 0px 100px 50px 100px;
}

.details {
  display: flex;
  justify-content: left;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: auto;
  margin-left: 80px;
  max-width: 820px;
}

.movie-title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  vertical-align: top;
  font-size: 50px;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
}

.description {
  margin-block-start: 0em;
}

th {
  text-align: left;
  padding: 0px 25px 15px 0px;
}

td {
  vertical-align: baseline;
}

img {
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.397);
  border-radius: 2px;
}

.similar {
  display: grid;
  grid-gap: 24px;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.similar-title {
  margin-block-start: 50px;
  margin-block-end: 50px;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
  font-size: 64px;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.genre {
  padding: 5px 25px 5px 25px;
  margin: 0px 25px 10px 0px;
  border: 2px solid #000;
  border-radius: 4px;
  background-color: #eee;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
  font-size: 18px;
  transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.genre:hover {
  cursor: pointer;
  transform: translateY(-2px);
  -webkit-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
}

.add-to-fav {
  cursor: pointer;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
  font-size: 20px;
  height: 64px;
  width: 300px;
  border-radius: 4px;
  border: 2px solid #f54c4c;
  position: relative;
  transition: 0.55s cubic-bezier(0.76, 0, 0.24, 1);
  -webkit-transition: 0.55s cubic-bezier(0.76, 0, 0.24, 1);
  z-index: 1;
  outline: 0;
  color: #f54c4c;
}

.add-to-fav:hover {
  color: whitesmoke;
}

.add-to-fav:before {
  content: "";
  position: absolute;
  background: #f54c4c;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  -webkit-transition: top 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.add-to-fav:hover:before {
  top: 0;
}

.movie {
  margin: 0px 20px 20px 20px;
}

.title {
  white-space: nowrap;
  font-size: 16px;
}

.back-btn {
  display: flex;
  text-decoration: none;
  color: whitesmoke;
  font-size: 21px;
  font-weight: bold;
  font-family: "Helvetica Neue Cyr Roman", Liberation Sans, Arial, sans-serif;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.397);
}

.back-btn-container {
  position: absolute;
  top: 18px;
  left: -70px;
}

.overview {
  display: flex;
  flex: none;
  width: 210px;
  justify-content: space-between;
  align-items: center;
}

.search-icon,
.favorites-btn,
.about-btn {
  margin: 0px 6px 0px 6px;
}

.svg-filter-red {
  filter: invert(66%) sepia(84%) saturate(7015%) hue-rotate(343deg)
    brightness(99%) contrast(93%);
}

.svg-filter-grey {
  filter: invert(93%) sepia(0%) saturate(45%) hue-rotate(152deg) brightness(90%)
    contrast(73%);
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

.search-bar {
  border-radius: 3px;
  display: flex;
  height: 60px;
  align-items: center;
  width: 85%;
}

.search {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: rgba(106, 106, 106, 0);
  border: none;
  padding: 0px 6px 0px 6px;
  color: #000;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
  font-size: 45px;
}

.search::placeholder {
  opacity: 1;
  color: #000;
}

.search:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #aaaaaa;
}

.favorites {
  padding: 0px 80px 50px 80px;
}

.favorites-header {
  margin-block-start: 0px;
  margin-block-end: 48px;
  font-size: 50px;
  font-family: "Helvetica Neue Cyr Medium", Liberation Sans, Arial, sans-serif;
}

.badge-style {
  background-color: #f54c4c !important;
  height: 1.2em !important;
  width: 1.2em !important;
  min-width: 1.2em !important;
  font-size: 0.6rem !important;
}

.alert-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.alert-msg h1 {
  margin: 0;
  font-size: 5rem;
}

.alert-msg p {
  font-size: 1.2rem;
}

@media screen and (max-width: 500px) {
  .search {
    font-size: 1.5rem;
  }

  .search-icon {
    width: 2em;
  }

  .wrapper {
    padding: 0px 10px 50px 15px;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .movie-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 2em;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .tags {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  .similar-title {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 2.5em;
  }

  .nav {
    justify-content: flex-end;
    padding: 0em 1em 0em 5em;
  }

  .similar {
    padding-left: 2.5em;
  }

  .alert-msg h1 {
    font-size: 1.5rem;
  }

  .alert-msg p {
    font-size: 0.9rem;
  }

  .tooltip {
    position: absolute !important;
    display: flex !important;
    flex-direction: column;
    width: 100%;
    left: 0 !important;
  }
}
